<div class="general-block-decorator">
    <div class="row">

        <div class="col-md-12 title title-without-tabs">
            {intl l='robot.title' d='editrobottxt.bo.default'}
        </div>

        <div class="form-container">
            <div class="col-md-12">
                {if file_exists('robots.txt')}
                <span style="font-size: 30px; color: red;">
                    {intl l='robot.help' d='editrobottxt.bo.default'}
                </span>
                {/if}
                {form name = "editrobottxt.configuration"}
                <form method="POST" action="{url path="/admin/module/EditRobotTxt/configure"}" >

                {include file = "includes/inner-form-toolbar.html"
                hide_flags = true
                hide_save_and_close_button = true
                page_url   = "{url path='/admin/module/EditRobotTxt'}"
                close_url  = "{url path='/admin/modules'}"
                }

                {form_hidden_fields form=$form}
                <div class="form-group {if $error}has-error{/if} col-md-4 ">
                    {$index = 1}
                    {foreach from=$config item="conf"}
                        {form_field form=$form field="domain_name{$index}"}
                            <input type="text" id="domain_name{$index}" name="{$name}" class="form-control" style="width: 500px" value="{$conf.0}" \>
                        {/form_field}
                        {form_field form=$form field="content{$index}"}
                            <textarea id="robotTextArea" id="content{$index}" name="{$name}" class="form-control" style="height: 400px; width: 500px" title="{$label}">{$conf.1}</textarea>
                        {/form_field}
                        {$index = $index + 1}
                   {/foreach}
                </div>
                </form>
                {/form}
            </div>
        </div>
    </div>
</div>
