<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="editrobottxt_configuration" class="EditRobotTxt\Form\EditForm" />
    </forms>

    <hooks>
        <hook id="robot.configuration.hook" class="EditRobotTxt\Hook\ConfigurationHook">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
        </hook>
    </hooks>

</config>
